/ .top-bar.bg-dark.text-gray
/   .container
/     .row.top-bar-holder
/       .col-xs-9.col
/         /! bar links
/         ul.font-lato.list-unstyled.bar-links
/           li
/             a href="tel:+611234567890" 
/               strong.dt.element-block.text-capitalize.hd-phone Call :
/               strong.dd.element-block.hd-phone +(61) 123 456 7890
/               i.fas.fa-phone-square.hd-up-phone.hidden-sm.hidden-md.hidden-lg
/                 span.sr-only phone
/           li
/             a href="mailto:Example@domain.com" 
/               strong.dt.element-block.text-capitalize.hd-phone Email :
/               strong.dd.element-block.hd-phone Example@domain.com
/               i.fas.fa-envelope-square.hd-up-phone.hidden-sm.hidden-md.hidden-lg
/                 span.sr-only email
/       .col-xs-3.col.justify-end
/         /! user links
/         ul.list-unstyled.user-links.fw-bold.font-lato
/           li
/             a.lightbox href="#popup1"  Login
/             span.sep \
/             a.lightbox href="#popup2"  Register
